body {
    padding: 0px !important;
}
/* ESTILOS MODAL */

.form-group a{
	font-family: 'Inter', sans-serif!important;
	color: #4b4f4d;
}
.form-group label{
	font-family: 'Inter', sans-serif!important;
	color: #4b4f4d;
	font-weight: 400!important;
	
}
.form-group input{
	font-family: 'Inter', sans-serif!important;
	color: #056ae0;	
	font-weight: 400!important;
	background-color: #efefef;
	/* border: none; */
	border-color:  #efefef;
}
.form-group input:focus{
	font-family: 'Inter', sans-serif!important;
	color: #056ae0;	
	font-weight: 400!important;
	background-color: #efefef;
	 border:0;
	outline: 0 none; 
	box-shadow: none;
}

.pass-recovery{
	font-size: 0.8em;
}
.text-nav a{
	font-family: 'Inter', sans-serif!important;
}
.text-nav:visited{
	text-decoration: none;
	color: white;
}
.text-nav:active{
	text-decoration: none;
	color: white;

}
.text-nav:focus{
	text-decoration: none;
	color: white;

}

.login-container{
	width: 80%;
	margin: auto;
}